@import url('https://fonts.googleapis.com/css2?family=Orbitron&display=swap');

html{
    background-color: #161617;
}

body{
    font-family: 'Orbitron', sans-serif;
    margin: 100px;
    border-radius: 10px;
    background-color: #1d1d1d;


}

#title{
    text-align: center;
    font-size: 3em;
    color: #7b28bb
}

#leaderboard{
    font-size: 2em;
    text-align: center;
    background-color: #292929;
}

table{
    text-align: center;
    display: flex;
    justify-content: center;
    margin: 100px 20px 100px 20px;
    padding: 10px;
    color: #e0eafa;
    border-radius: 30px;
}

tr{
    color: #e0eafa;
}
#table_header{
    text-align: center;
    padding: 5px 150px 5px 150px;
}

th{
    padding: 5px 150px 5px 150px;
}

/* Responsive Design */
@media (max-width: 600px) {
    #title {
        font-size: 1.5em;
    }
    #leaderboard {
        font-size: 2em;
    }
    table {
        margin: 20px 0;
        padding: 5px;
    }
    th, td {
        padding: 5px 50px 5px 50px;
    }
}
