body{
    background-color:var(--background);
}
.container{
    border: 1px /*transparent*/solid var(--text);
    width: var(--size);
    height: var(--size);
}
#app{
    border: 1px solid var(--text);
    width: calc(var(--size)*10);
    display:grid;
    grid-template-columns:var(--size) var(--size) var(--size) var(--size) var(--size) var(--size) var(--size) var(--size) var(--size);
    grid-template-rows:var(--size) var(--size) var(--size) var(--size) var(--size) var(--size) var(--size) var(--size) var(--size) var(--size) var(--size) var(--size) var(--size) var(--size) var(--size) var(--size) var(--size) var(--size) var(--size);
    position: relative;
}

#app canvas {
    position: absolute;
    top: 0;
    left: 0;
}

:root{
    --size:25px;
}

.score {
    color: #FFFFFF;
    margin: 0;
    font-family: var(--font);
}

.blocks {
    color: #FFFFFF;
    margin: 0;
    font-family: var(--font);
}

.level {
    color: #FFFFFF;
    margin: 0;
    font-family: var(--font);
}
